version: "3.9"

services:
  api:
    build: .
    container_name: gold-trading-api
    restart: always
    env_file:
      - .env
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - db
    volumes:
      - .:/app
    command: sh -c "npx ts-node src/scripts/createAdmin.ts && npm run dev"

  db:
    image: postgres:15
    container_name: gold-trading-db
    restart: always
    env_file:
      - .env
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
